
<div class="col-md-6 col-md-offset-3">
<div ng-controller="forgotPasswordController">
    <p>Please enter your user name:</p>
    <input type="text" ng-model="userName">
    <button ng-click="getQuestions(userName)">Request restore questions</button>


    <div ng-show="isQVisible">
        <p>Your first secret question: {{firstQuestion}}</p>
        <p>Your second secret question: {{secondQuestion}}</p>
        <p>Enter first answer here: </p>
        <input type="text" ng-model="firstAnswer">
        <p>Enter second answer here: </p>
        <input type="text" ng-model="secondAnswer">
        <button ng-click="sendAnswers(userName,firstAnswer,secondAnswer)">Register</button>
    </div>

    <div ng-show="isPasswordVisible">
        <p>Your password is : {{password}}</p>
    </div>
</div>
</div>